body {
    background-color: #222222;
}

.page-header {
    background-color: #222222;
    border-bottom:0px;
    text-align: center;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    position: fixed;
    z-index: 9999;
    width: 100%;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: green;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    padding-top: 11%;
    padding-left: 18%;
}

h1, h2, h3, h4 {
    font-family: 'Roboto Condensed', sans-serif;
}

p {
    color: white;
}

.date {
    color: teal;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    color: gray;
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: green;
}
